.navbar-default{
	padding-top:20px;
	text-transform: uppercase;
	background: none;
	border: none;
}
.navbar{
  margin-bottom: 0;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form{
  border: none;
}
.Bidproject{
    font-family: PlayfairDisplay;
    font-weight: 900;
    font-size: 2em;
    text-transform: none;
    font-style: italic;
    font-stretch: normal;
    color: #28abec !important;
}
.text-style-1{
	font-family: Montserrat;
  font-weight: bold;
  font-style: normal;
  color: #2e3240;
}
.features{
	 padding-left: 150px;
    width: 70%;
    font-family: Montserrat;
    /* font-size: 5px; */
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 1.2px;
    text-align: center;
    color: #9fa3a7;
}
.navbar-default .navbar-nav>li>a{
	color: #9fa3a7;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
	color: #09abf4 !important;
}
.log-in{
	width: 150px;
	color: #fff !important;
}


/* ---General style--- */
body{
  overflow-x:hidden;
}
section{
	/*margin-top: 2em;
  margin-bottom: 5em;*/
  min-height: 400px;
}

/* ---Banner--- */
header{
  min-height: 300px;
    padding: 10% 0;
    position: relative;
}
/*.banner-text{
	color: #000;
    position: absolute;
    top: 260px;
    left: 400px;
    
}*/
.banner-text{
  padding: 0 20px;
}
.banner-text:before{
  content: " ";
}
.banner-text h1{
	font-family: Montserrat;
    /* font-size: 18.5px; */
    font-weight: normal;
    font-size: 5em;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.3;
    text-align: center;


}
.banner-text h5{
	font-family: OpenSans;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.57;
    text-align: center;
}
.banner-text .display-h{
  display: none;
}
.typewriter h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  /*border-right: .15em solid #09abf4;  The typewriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40, end);
  width: 66%;
}
.typewriter h5{
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  /*border-right: .15em solid #09abf4;  The typewriter cursor */
 white-space: nowrap;  .cSlider .padding pKeeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing2 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
  width: 55%;
  -webkit-animation-fill-mode:both;
   -webkit-animation-delay: 5s;
  animation-delay: 5s;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 66% }
}
@keyframes typing2 {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #09abf4; }
}

.banner-text a:hover {
  color: #09abf4;
  text-decoration: none;
}
.banner-text a{
	color: #fff;
}
.arrow {
  text-align: center;
  margin: 8% 0;
}
.bounce {
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
  margin-top: 10em;
}
@-webkit-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}


/* ---Create--- */
#create{
	/*margin-top: 5em;
  background: #ccc;*/
    padding: 30px 0 0 0;
}
#create .heading h2{
	font-family: Arvo;
    /* font-size: 18px; */
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    text-align: center;
    color: #212121;
}
.ui-tabs.ui-tabs-vertical {
    padding: 0;
    /*width: 42em;*/
}
.ui-tabs.ui-tabs-vertical .ui-widget-header {
    border: none;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav {
    float: left;
    /*width: 10em;
    border-right: 1px solid gray;*/
    background: #54c7fc;
    padding: 0;
    border-radius: 4px 0 0 4px;
    
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav li {
    clear: left;
    width: 100%;
    margin: 0.2em 0;
    /*border: 1px solid gray;*/
    border-bottom: 1px solid #fff;
    border-width: 1px 0 1px 1px;
    border-radius: 4px 0 0 4px;
    overflow: hidden;
    position: relative;
    right: -2px;
    z-index: 2;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav li a {
    display: block;
    width: 100%;
    color: #fff;
    padding: 0.6em 1em;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav li a:hover {
    cursor: pointer;
    text-decoration: none;
    background: #54c7fc;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active {
    margin-bottom: 0.2em;
    padding-bottom: 0;
    /*border-right: 1px solid white;*/
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav li:last-child {
    margin-bottom: 10px;
    border-bottom: none;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-panel {
    float: left;
    /*width: 28em;
    border-left: 1px solid gray;*/
    border-radius: 0;
    position: relative;
    left: -1px;
}

.cSlider{
	padding: 2em 0 0;
}
.cSlider .well{
	background:none;
    border: none;
    border-radius: 4px;
    box-shadow: none;
}
.cSlider .thumbnail{
	background: none;
	border: none;
}
.carousel-control.left, .carousel-control.right{
	background: none;
}
.cSlider .padding{
	/*padding: 0 100px;*/
    text-align: center;
}
.cSlider .circle{
	background: #54c7fc;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    /*margin:0 30%;*/
}
.cSlider .circle img{
	margin-left: 14px;
}
.cSlider .padding h5{
	font-family: Montserrat;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 1.2px;
    text-align: center;
    color: #212121;
}
.cSlider .padding p{
	font-family: OpenSans;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.57;
    text-align: justify;
    color: #9fa3a7;
    color: #000;
}
/*.cSlider .padding .sImage{
	margin: 0 30%;
}
.cSlider .padding .cImage{
	margin: 0 35%;
}*/



/* ---Contractor Yo--- */
#contractorYo{
	background: #09abf4;
	padding-top: 3em;
}
.half-section{
	padding-right: 20%;
}
.half-section p{
	font-family: OpenSans;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.86;
  color: #9fa3a7;
  color: #fff;
}
.half-section h2{
	font-family: Arvo;
    /* font-size: 18px; */
    font-size: 3em;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    color: #212121;
}
.half-section h5{
	font-family: Montserrat;
    /* font-size: 6px; */
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 1.2px;
    color: #757575;
    color: #fff;
}
.other-half-section .c-sections{
	margin: 2em 0;
}
.other-half-section .c-sections .ctext{
	font-family: OpenSans;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.86;
  color: #9fa3a7;
  color: #fff;
  padding-right: 40px;
  padding-bottom: 40px;
  text-align: justify;
}
#border-bottom:after{
	content: " ";
    position: absolute;
    width: 90%;
    height: 1px;
    bottom: 0;
    left: 0;
	border-bottom: solid 0.5px #fff;
}
/*.other-half-section img{
	float: left;
	margin-right: 3em;
}
.other-half-section #firstImage{
	margin-right: 4em;
}*/
.other-half-section h3{
	font-family: Arvo;
    /* font-size: 11px; */
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.45;
    color: #212121;
}


/* ---Choose Path--- */
.heading {
    text-align: center;
    font-stretch: normal;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 3.4em;
}
#choosePath{
  padding: 2.5em 0 5em;
}
#choosePath .heading h2{
	font-family: Arvo;
    /*font-size: 25px;*/
    line-height: 0.96;
    color: #212121;
}
#choosePath .heading h5{
	font-family: OpenSans;
    line-height: 1.86;
    color: #9fa3a7;
}
.flip {
  -webkit-perspective: 800;   
          perspective: 800;
        position: relative;
        text-align: center;
}
.flip .card.flipped {
  -webkit-transform: rotatey(-180deg);
          transform: rotatey(-180deg);
}
.flip .card {
    width: 270px;
    height: 178px;
    width: 100%;
    -webkit-transform-style: preserve-3d;
    -webkit-transition: 0.5s;
    transform-style: preserve-3d;
    transition: 0.5s;
    background-color: #fff;
    box-shadow: 1px 1px 1px 1px #ccc;
   
}
.flip .card .face {
  -webkit-backface-visibility: hidden ;
    backface-visibility: hidden ;
   z-index: 2;
}
.flip .card .front {
   position: absolute;
   width: 270px;
   z-index: 1;
   background-color: #2e3240;
    height: 100%;
    width: 100%;
    color: #fff;
   padding-top: 25%;
}
.flip .card .img {
   position: relaitve;
   width: 270px;
   height: 178px;
   z-index: 1;
   border: 2px solid #000;
}
.flip .card .back {
  padding-top: 10%;
  -webkit-transform: rotatey(-180deg);
          transform: rotatey(-180deg);
}
  .inner{margin:0px !important;}
#choosePath .center{
	text-align: center;
}
#choosePath .center .cards{
	border-radius: 10px;
    background-color: #2e3240;
    padding-top: 2em;
    padding-bottom: 2.5em;
    color:#fff;
    transition: all 2ms ease-in-out;
}
#choosePath .center .cards:hover{
	box-shadow: 2px 3px 3px #9E9E9E;
	-moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}
#choosePath .center h4{
	font-size: 1em;
    font-family: Montserrat;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 1.2px;
    /*color: #000;*/
}
#choosePath .center h1{
	/*font-size: 3em;*/
	font-size: 2.85em;
    font-family: Arvo;
    /* font-size: 15px; */
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    /*color: #212121;*/
}
#choosePath .center h5{
	font-family: Arvo;
    font-size: 1em;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.85;
    text-align: center;
    color: #9fa3a7;
    width: 133px;
    margin: 0 25%;
    margin-bottom: 60px;
}
.btn-default{
	border-radius: 50px;
    border: solid 1px #09abf4;
    font-family: Montserrat;
    font-size: .9em;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 1.2px;
    text-align: center;
    color: #fff;
    background-color: #09abf4;
    padding: 10px 20px;
}


/* ---Footer--- */
footer{
	background-color: #2e3240;
	color: #fff;
}
.footer-navigation{
	font-family: Montserrat;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 1.2px;
    color: #ffffff;
    padding: 4em 0;
}
.footer-navigation ul{
	list-style: none;
	padding-left: 0;
	margin-top: 1em;
}
.nav-div ul li{
	padding-top: .1em;
	padding-bottom: .1em;
	font-family: OpenSans;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.57;
    color: #9fa3a7;
}
.nav-div ul li:first-child{
	padding-top: 0;
}
.social-links ul{
	display: flex;
}
.social-links ul li{
	padding: 0 32px;
	padding: 1em 2.5em;
}
.social-links ul li:first-child{
	padding-left: 0;
}

.terms{
	font-family: Montserrat;
    /* font-size: 6px; */
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 1.2px;
    color: #ffffff;
}
.social-links h3{
      padding: 0 12em;
}
.copyright{
	padding: 30px 0 10px 0;
}
.copyright p{
	text-align: center;
    font-family: OpenSans;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.83;
    color: rgba(200, 200, 200, 0.5);
}