@media (min-width: 1028px) {
	.banner-text{

	}
	.typewriter h1{
		width: 68%;
	}
	@keyframes typing {
	  from { width: 0 }
	  to { width: 68% }
	}
}
@media (max-width: 1028px) {
	#cRow{
		overflow-x: auto;
	}
}
@media (min-width: 768px){
	.navbar-nav>li {
	    width: 20%;
	}
}
@media (max-width: 768px) {
	.banner-text{
		left: 200px;
	}
	.banner-text h1{
		font-size: 1.5em;
	}
	/*.typewriter h5{
		width: 80%;
	}
	@keyframes typing2 {
	  from { width: 0 }
	  to { width: 80% }
	}*/
	.nav-div, .social-links, .terms{
		text-align: center;
	}
	.log-in{
		margin: 0 35%;
	}
	.ui-tabs.ui-tabs-vertical .ui-tabs-nav {
	    float: left;
	    background: #54c7fc;
	    padding: 0;
	    width: 100%;
	    display: flex;
	    border-radius: 4px 0 0 4px;
	}
	.ui-tabs.ui-tabs-vertical .ui-tabs-nav li {
	    clear: left;
	    width: 100%;
	    /* width: 20%; */
	    text-align: center;
	    margin: 0.2em 0;
	    /* border: 1px solid gray; 
	    border-right: 1px solid #fff;*/
	     border-bottom: none; 
	    border-width: 1px 0 1px 1px;
	    border-radius: 4px 0 0 4px;
	    overflow: hidden;
	    position: relative;
	    right: -2px;
	    z-index: 2;
	}
	.cSlider .padding p{
		text-align: center;
	}
	.social-links ul {
	    display: flex;
	    text-align: center;
	    padding: 0 160px;
	}
	.bounce{
		display: none;
	}
	.cSlider .padding{
		padding: 40px 15px;
	}
	#choosePath .center .cards{
		margin-bottom: 2em;
	}
	.half-section{
		padding-right: 0;
	}
	
	.flip{
		margin-bottom: 5.5em;
	}
	#cRow {
    padding: 0 20px 0 160px;
}
}
@media (max-width:568px) {
	.navbar-default .navbar-toggle{
		border: none;
		background: none;
	}
	.navbar-default .navbar-nav>li>a{
		color: #000;
	}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form{
		background: #fff;
	}
	ul.nav.navbar-nav.navbar-right{
		margin-left: 92px;
	}
	.navbar-default {
	    padding-top: 0;
	    min-height: 50px;
	    height: 0px;
	}
	/*.text-style-1{
		color: #2e3240;
	}*/
	.features{
		width: auto;
		margin:0;
		padding-left: 0;
	}
	.log-in{
		margin: 0;
	}
	.banner-text{
		left: 0px;
	}
	#cRow{
		padding: 0 10px 0 30px;
	}
	.half-section, .other-half-section .c-sections .ctext{
		padding-right: 0;
	}
	.social-links ul{
		padding: 0 30px;
	}
}